<html>
<body>
            <form action="#" th:action="@{/login}" th:object="${userCredentials}" method="post">
    <table>
        <tr>
            <td>User name:</td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" th:field="*{password}" /></td>
        </tr>
            <div th:if="${redirectTo != null}">
                <input type="hidden" name="redirectTo" th:value="${redirectTo}"/>
            </div>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
        </table>
        </form>
</body>
</html>